@page
@model EsportsWebsite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="bgimg1"></div>

<style>
    .bgimg1 {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/esportswebsite-e3135.appspot.com/o/AboutUs.png?alt=media&token=f4a88b2c-8780-4ca5-9a8f-35273d1b2369");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        opacity: 0.4;
    }
</style>
