@page
@model EsportsWebsite.Pages.Contact_UsModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="bgimg1"></div>
<h2 class="opening-title">Contact Us</h2>

<style>
    .bgimg1 {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/esportswebsite-e3135.appspot.com/o/ContactUs.png?alt=media&token=46c5e826-3290-45f4-9f34-6bb38083e8c0");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        opacity: 0.4;
    }

</style>