@page
@model EsportsWebsite.Pages.SocialsModel
@{
    ViewData["Title"] = "Socials";
}

<div class="bgimg1"></div>
<h2 class="opening-title">Socials</h2>

<style>
    .bgimg1 {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/esportswebsite-e3135.appspot.com/o/Socials.png?alt=media&token=ba4d6c25-6d9f-4497-a34e-1a85af9d876c");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        opacity: 0.4;
    }
</style>